.contact-info {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 80px;
}

.contact-type {
    display: block;
    padding: 2px 8px;
    border-radius: 4px;
    background: var(--Grey-50, #909090);
    color: var(--bk);
    font-size: 12px;
    font-weight: var(--700);
    line-height: 160%;
    text-transform: uppercase;
}

.contact-number {
    color:#909090;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}

hr {
    border: 1px solid #343434;
}

.transport {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.transport-type {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.24px;
    padding-bottom: 20px;
}

.transport-line {
    padding: 2px 8px;
    border-radius: 4px;
    background: var(--sky);
    color: var(--bk);
    font-size: 12px;
    font-weight: var(--700);
    line-height: 160%;
}

.dest-stop {
    padding-bottom: 8px;
}

.stop-details {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.direction-details {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 8px;
}

.story-content {
    padding: 132px 18px;
    max-width: 1120px;
    margin: auto;
}

.story-heading {
    color: var(--WH, #FEFEFE);
    font-feature-settings: 'ss01' on;
    /* T1/Semibold */
    font-family: "Wanted Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}

.story-desc {
    color: var(--Grey-20, #DDD);
    font-feature-settings: 'ss01' on;
    /* B1/Medium */
    font-family: "Wanted Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
    margin-bottom: 80px;
}

.story-buttons {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    margin-bottom: 40px;
}

.story-button {
    display: flex;
    padding: 6px 16px;
    align-items: flex-start;
    border-radius: 8px;
    border: 3px solid var(--Grey-90, #343434);
    color: var(--Grey-50, #909090);
    font-feature-settings: 'ss01' on;
    /* B1/Semibold */
    font-family: "Wanted Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    text-transform: capitalize;
}

.story-button.on {
    border: 3px solid var(--sky);
    color: var(--sky);
}

.story-item {
    margin-top: 40px;
    display: grid;
    gap: 60px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 80px;
}

.story-item.off {
    display: none;
}

.story-item img {
    border-radius: 8px;
}

.story-item-type {
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0px;
}

.story-type-button {
    padding: 2px 8px;
    border-radius: 4px;
    background: var(--Flyway-Sky_01, #8BDEDA);
    color: var(--BK-90, #181818);
    font-feature-settings: 'ss01' on;
    /* C1/Bold */
    font-family: "Wanted Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 19.2px */
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
    
}
.story-item-text {
    color: var(--WH, #FEFEFE);
    font-feature-settings: 'ss01' on;
    /* B1/Semibold */
    font-family: "Wanted Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.expand-button.off {
    display: none;
}

.expand-button {
    display: flex;
    padding: 6px 16px;
    align-items: flex-start;
    border-radius: 8px;
    background: var(--Grey-90, #343434);
    color: var(--WH, #FEFEFE);
    font-feature-settings: 'ss01' on;
    /* B1/Semibold */
    font-family: "Wanted Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    text-align: center;
}

@media screen and (max-width: 1024px) {

    .contact-info {
        padding-bottom: 40px;
    }

    .addr {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
    }

    .contact-number {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; /* 22.4px */
    }

    .transport {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 40px;
    }

    .transport-type {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        padding-bottom: 20px;
    }

    .stop-details {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 22.4px */
    }

    .dest-stop {
        padding-bottom: 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 22.4px */
    }

    .story-heading {
        color: var(--WH, #FEFEFE);
        font-feature-settings: 'ss01' on;
        /* T2/Bold */
        font-family: "Wanted Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 33.6px */
        letter-spacing: -0.24px;
        }

    .story-desc {
        color: var(--Grey-20, #DDD);
        font-feature-settings: 'ss01' on;
        /* B2/Medium */
        font-family: "Wanted Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 22.4px */
        margin-bottom: 0px;
    }

    .story-item {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        margin-bottom: 40px;
    }

    .story-item img {
        margin-bottom: 16px;
    }

    .story-buttons {
        margin: 40px 0px;
    }

    .story-item-text {
        display: flex;
        gap: 1%;
    }


}